In [1]:
import requests as req

In [2]:
# https://www.misoenergy.org/markets-and-operations/RTDataAPIs/
response = req.get('https://api.misoenergy.org/MISORTWDDataBroker/DataBrokerServices.asmx?messageType=getWindActual&returnType=json')

In [3]:
response.json()

{'MktDay': '06-03-2019',
 'RefId': '03-Jun-2019 - Interval 11:00 EST',
 'instance': [{'DateTimeEST': '2019-06-02 12:00:00 AM',
   'HourEndingEST': '00',
   'Value': '6710.11'},
  {'DateTimeEST': '2019-06-02 1:00:00 AM',
   'HourEndingEST': '01',
   'Value': '6317.04'},
  {'DateTimeEST': '2019-06-02 2:00:00 AM',
   'HourEndingEST': '02',
   'Value': '5502.88'},
  {'DateTimeEST': '2019-06-02 3:00:00 AM',
   'HourEndingEST': '03',
   'Value': '4814.61'},
  {'DateTimeEST': '2019-06-02 4:00:00 AM',
   'HourEndingEST': '04',
   'Value': '4535.81'},
  {'DateTimeEST': '2019-06-02 5:00:00 AM',
   'HourEndingEST': '05',
   'Value': '4227.71'},
  {'DateTimeEST': '2019-06-02 6:00:00 AM',
   'HourEndingEST': '06',
   'Value': '3549.21'},
  {'DateTimeEST': '2019-06-02 7:00:00 AM',
   'HourEndingEST': '07',
   'Value': '2770.10'},
  {'DateTimeEST': '2019-06-02 8:00:00 AM',
   'HourEndingEST': '08',
   'Value': '1815.35'},
  {'DateTimeEST': '2019-06-02 9:00:00 AM',
   'HourEndingEST': '09',
   'Value': '957.21'},
  {'DateTimeEST': '2019-06-02 10:00:00 AM',
   'HourEndingEST': '10',
   'Value': '830.84'},
  {'DateTimeEST': '2019-06-02 11:00:00 AM',
   'HourEndingEST': '11',
   'Value': '1337.44'},
  {'DateTimeEST': '2019-06-02 12:00:00 PM',
   'HourEndingEST': '12',
   'Value': '1954.72'},
  {'DateTimeEST': '2019-06-02 1:00:00 PM',
   'HourEndingEST': '13',
   'Value': '2725.89'},
  {'DateTimeEST': '2019-06-02 2:00:00 PM',
   'HourEndingEST': '14',
   'Value': '3309.28'},
  {'DateTimeEST': '2019-06-02 3:00:00 PM',
   'HourEndingEST': '15',
   'Value': '3312.36'},
  {'DateTimeEST': '2019-06-02 4:00:00 PM',
   'HourEndingEST': '16',
   'Value': '3025.11'},
  {'DateTimeEST': '2019-06-02 5:00:00 PM',
   'HourEndingEST': '17',
   'Value': '2835.52'},
  {'DateTimeEST': '2019-06-02 6:00:00 PM',
   'HourEndingEST': '18',
   'Value': '2673.04'},
  {'DateTimeEST': '2019-06-02 7:00:00 PM',
   'HourEndingEST': '19',
   'Value': '2159.91'},
  {'DateTimeEST': '2019-06-02 8:00:00 PM',
   'HourEndingEST': '20',
   'Value': '1707.88'},
  {'DateTimeEST': '2019-06-02 9:00:00 PM',
   'HourEndingEST': '21',
   'Value': '1949.92'},
  {'DateTimeEST': '2019-06-02 10:00:00 PM',
   'HourEndingEST': '22',
   'Value': '3017.43'},
  {'DateTimeEST': '2019-06-02 11:00:00 PM',
   'HourEndingEST': '23',
   'Value': '3969.24'},
  {'DateTimeEST': '2019-06-03 12:00:00 AM',
   'HourEndingEST': '00',
   'Value': '4625.25'},
  {'DateTimeEST': '2019-06-03 1:00:00 AM',
   'HourEndingEST': '01',
   'Value': '5047.99'},
  {'DateTimeEST': '2019-06-03 2:00:00 AM',
   'HourEndingEST': '02',
   'Value': '5796.83'},
  {'DateTimeEST': '2019-06-03 3:00:00 AM',
   'HourEndingEST': '03',
   'Value': '6776.06'},
  {'DateTimeEST': '2019-06-03 4:00:00 AM',
   'HourEndingEST': '04',
   'Value': '6791.94'},
  {'DateTimeEST': '2019-06-03 5:00:00 AM',
   'HourEndingEST': '05',
   'Value': '7284.20'},
  {'DateTimeEST': '2019-06-03 6:00:00 AM',
   'HourEndingEST': '06',
   'Value': '7024.23'},
  {'DateTimeEST': '2019-06-03 7:00:00 AM',
   'HourEndingEST': '07',
   'Value': '6591.19'},
  {'DateTimeEST': '2019-06-03 8:00:00 AM',
   'HourEndingEST': '08',
   'Value': '5766.81'},
  {'DateTimeEST': '2019-06-03 9:00:00 AM',
   'HourEndingEST': '09',
   'Value': '4483.75'},
  {'DateTimeEST': '2019-06-03 10:00:00 AM',
   'HourEndingEST': '10',
   'Value': '3782.91'},
  {'DateTimeEST': '2019-06-03 11:00:00 AM',
   'HourEndingEST': '11',
   'Value': '4295.86'}]}

In [4]:
# Supposedly supposed to authenticate for API, but doesn't seem to be the case
# https://www.misoenergy.org/markets-and-operations/notifications-overview/it-and-system-notifications/api/
response.headers

{'Content-Length': '589', 'X-Powered-By': 'ASP.NET', 'X-AspNet-Version': '4.0.30319', 'Content-Encoding': 'gzip', 'Server': 'Microsoft-IIS/10.0', 'Content-Type': 'application/json', 'Cache-Control': 'no-cache, no-store, must-revalidate', 'Date': 'Mon, 03 Jun 2019 16:33:35 GMT', 'Expires': '0', 'Set-Cookie': 'ASP.NET_SessionId=syqibjwh3djcqefguv0c0p4g; path=/; HttpOnly', 'Pragma': 'no-cache'}

In [5]:
import pandas as pd

In [6]:
json_data = response.json()['instance']

In [7]:

df = pd.io.json.json_normalize(json_data[0])
for d in json_data[1:]:
    df = df.append(pd.io.json.json_normalize(d))

In [8]:
df

              DateTimeEST HourEndingEST    Value
0  2019-06-02 12:00:00 AM            00  6710.11
0   2019-06-02 1:00:00 AM            01  6317.04
0   2019-06-02 2:00:00 AM            02  5502.88
0   2019-06-02 3:00:00 AM            03  4814.61
0   2019-06-02 4:00:00 AM            04  4535.81
0   2019-06-02 5:00:00 AM            05  4227.71
0   2019-06-02 6:00:00 AM            06  3549.21
0   2019-06-02 7:00:00 AM            07  2770.10
0   2019-06-02 8:00:00 AM            08  1815.35
0   2019-06-02 9:00:00 AM            09   957.21
0  2019-06-02 10:00:00 AM            10   830.84
0  2019-06-02 11:00:00 AM            11  1337.44
0  2019-06-02 12:00:00 PM            12  1954.72
0   2019-06-02 1:00:00 PM            13  2725.89
0   2019-06-02 2:00:00 PM            14  3309.28
0   2019-06-02 3:00:00 PM            15  3312.36
0   2019-06-02 4:00:00 PM            16  3025.11
0   2019-06-02 5:00:00 PM            17  2835.52
0   2019-06-02 6:00:00 PM            18  2673.04
0   2019-06-02 7:00:00 PM            19  2159.91
0   2019-06-02 8:00:00 PM            20  1707.88
0   2019-06-02 9:00:00 PM            21  1949.92
0  2019-06-02 10:00:00 PM            22  3017.43
0  2019-06-02 11:00:00 PM            23  3969.24
0  2019-06-03 12:00:00 AM            00  4625.25
0   2019-06-03 1:00:00 AM            01  5047.99
0   2019-06-03 2:00:00 AM            02  5796.83
0   2019-06-03 3:00:00 AM            03  6776.06
0   2019-06-03 4:00:00 AM            04  6791.94
0   2019-06-03 5:00:00 AM            05  7284.20
0   2019-06-03 6:00:00 AM            06  7024.23
0   2019-06-03 7:00:00 AM            07  6591.19
0   2019-06-03 8:00:00 AM            08  5766.81
0   2019-06-03 9:00:00 AM            09  4483.75
0  2019-06-03 10:00:00 AM            10  3782.91
0  2019-06-03 11:00:00 AM            11  4295.86

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 0
Data columns (total 3 columns):
DateTimeEST      36 non-null object
HourEndingEST    36 non-null object
Value            36 non-null object
dtypes: object(3)
memory usage: 1.1+ KB

In [10]:
df['DateTimeEST'] = pd.to_datetime(df['DateTimeEST']).dt.tz_localize('US/Eastern').astype('object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 0
Data columns (total 3 columns):
DateTimeEST      36 non-null object
HourEndingEST    36 non-null object
Value            36 non-null object
dtypes: object(3)
memory usage: 1.1+ KB

In [12]:
df

                 DateTimeEST HourEndingEST    Value
0  2019-06-02 00:00:00-04:00            00  6710.11
0  2019-06-02 01:00:00-04:00            01  6317.04
0  2019-06-02 02:00:00-04:00            02  5502.88
0  2019-06-02 03:00:00-04:00            03  4814.61
0  2019-06-02 04:00:00-04:00            04  4535.81
0  2019-06-02 05:00:00-04:00            05  4227.71
0  2019-06-02 06:00:00-04:00            06  3549.21
0  2019-06-02 07:00:00-04:00            07  2770.10
0  2019-06-02 08:00:00-04:00            08  1815.35
0  2019-06-02 09:00:00-04:00            09   957.21
0  2019-06-02 10:00:00-04:00            10   830.84
0  2019-06-02 11:00:00-04:00            11  1337.44
0  2019-06-02 12:00:00-04:00            12  1954.72
0  2019-06-02 13:00:00-04:00            13  2725.89
0  2019-06-02 14:00:00-04:00            14  3309.28
0  2019-06-02 15:00:00-04:00            15  3312.36
0  2019-06-02 16:00:00-04:00            16  3025.11
0  2019-06-02 17:00:00-04:00            17  2835.52
0  2019-06-02 18:00:00-04:00            18  2673.04
0  2019-06-02 19:00:00-04:00            19  2159.91
0  2019-06-02 20:00:00-04:00            20  1707.88
0  2019-06-02 21:00:00-04:00            21  1949.92
0  2019-06-02 22:00:00-04:00            22  3017.43
0  2019-06-02 23:00:00-04:00            23  3969.24
0  2019-06-03 00:00:00-04:00            00  4625.25
0  2019-06-03 01:00:00-04:00            01  5047.99
0  2019-06-03 02:00:00-04:00            02  5796.83
0  2019-06-03 03:00:00-04:00            03  6776.06
0  2019-06-03 04:00:00-04:00            04  6791.94
0  2019-06-03 05:00:00-04:00            05  7284.20
0  2019-06-03 06:00:00-04:00            06  7024.23
0  2019-06-03 07:00:00-04:00            07  6591.19
0  2019-06-03 08:00:00-04:00            08  5766.81
0  2019-06-03 09:00:00-04:00            09  4483.75
0  2019-06-03 10:00:00-04:00            10  3782.91
0  2019-06-03 11:00:00-04:00            11  4295.86

In [14]:
# password needs to be set for the postgres user, or another user added for the db
# https://stackoverflow.com/a/12721095/4549682
import psycopg2
conn = psycopg2.connect("dbname=miso host=localhost user=postgres password=postgres")
cursor = conn.cursor()

# need to specify schema on table creation
# https://www.postgresql.org/docs/10/datatype-numeric.html
# https://www.postgresql.org/docs/10/datatype-datetime.html
cursor.execute('CREATE TABLE IF NOT EXISTS rt_wind (datetime TIMESTAMP WITH TIME ZONE, value NUMERIC);')
conn.commit()  # required to actually execute statements
conn.close()
# need to use sqlalchemy for easy interface with pandas
# https://stackoverflow.com/a/42587012/4549682

In [15]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/miso')

In [16]:
from sqlalchemy.types import TIMESTAMP, NUMERIC

In [17]:
df.columns = [d.lower() for d in df.columns]
df['datetime'] = df['datetimeest']

In [18]:
df

                 datetimeest hourendingest    value                   datetime
0  2019-06-02 00:00:00-04:00            00  6710.11  2019-06-02 00:00:00-04:00
0  2019-06-02 01:00:00-04:00            01  6317.04  2019-06-02 01:00:00-04:00
0  2019-06-02 02:00:00-04:00            02  5502.88  2019-06-02 02:00:00-04:00
0  2019-06-02 03:00:00-04:00            03  4814.61  2019-06-02 03:00:00-04:00
0  2019-06-02 04:00:00-04:00            04  4535.81  2019-06-02 04:00:00-04:00
0  2019-06-02 05:00:00-04:00            05  4227.71  2019-06-02 05:00:00-04:00
0  2019-06-02 06:00:00-04:00            06  3549.21  2019-06-02 06:00:00-04:00
0  2019-06-02 07:00:00-04:00            07  2770.10  2019-06-02 07:00:00-04:00
0  2019-06-02 08:00:00-04:00            08  1815.35  2019-06-02 08:00:00-04:00
0  2019-06-02 09:00:00-04:00            09   957.21  2019-06-02 09:00:00-04:00
0  2019-06-02 10:00:00-04:00            10   830.84  2019-06-02 10:00:00-04:00
0  2019-06-02 11:00:00-04:00            11  1337.44  2019-06-02 11:00:00-04:00
0  2019-06-02 12:00:00-04:00            12  1954.72  2019-06-02 12:00:00-04:00
0  2019-06-02 13:00:00-04:00            13  2725.89  2019-06-02 13:00:00-04:00
0  2019-06-02 14:00:00-04:00            14  3309.28  2019-06-02 14:00:00-04:00
0  2019-06-02 15:00:00-04:00            15  3312.36  2019-06-02 15:00:00-04:00
0  2019-06-02 16:00:00-04:00            16  3025.11  2019-06-02 16:00:00-04:00
0  2019-06-02 17:00:00-04:00            17  2835.52  2019-06-02 17:00:00-04:00
0  2019-06-02 18:00:00-04:00            18  2673.04  2019-06-02 18:00:00-04:00
0  2019-06-02 19:00:00-04:00            19  2159.91  2019-06-02 19:00:00-04:00
0  2019-06-02 20:00:00-04:00            20  1707.88  2019-06-02 20:00:00-04:00
0  2019-06-02 21:00:00-04:00            21  1949.92  2019-06-02 21:00:00-04:00
0  2019-06-02 22:00:00-04:00            22  3017.43  2019-06-02 22:00:00-04:00
0  2019-06-02 23:00:00-04:00            23  3969.24  2019-06-02 23:00:00-04:00
0  2019-06-03 00:00:00-04:00            00  4625.25  2019-06-03 00:00:00-04:00
0  2019-06-03 01:00:00-04:00            01  5047.99  2019-06-03 01:00:00-04:00
0  2019-06-03 02:00:00-04:00            02  5796.83  2019-06-03 02:00:00-04:00
0  2019-06-03 03:00:00-04:00            03  6776.06  2019-06-03 03:00:00-04:00
0  2019-06-03 04:00:00-04:00            04  6791.94  2019-06-03 04:00:00-04:00
0  2019-06-03 05:00:00-04:00            05  7284.20  2019-06-03 05:00:00-04:00
0  2019-06-03 06:00:00-04:00            06  7024.23  2019-06-03 06:00:00-04:00
0  2019-06-03 07:00:00-04:00            07  6591.19  2019-06-03 07:00:00-04:00
0  2019-06-03 08:00:00-04:00            08  5766.81  2019-06-03 08:00:00-04:00
0  2019-06-03 09:00:00-04:00            09  4483.75  2019-06-03 09:00:00-04:00
0  2019-06-03 10:00:00-04:00            10  3782.91  2019-06-03 10:00:00-04:00
0  2019-06-03 11:00:00-04:00            11  4295.86  2019-06-03 11:00:00-04:00

In [19]:
df[['datetime', 'value']].to_sql(name='rt_wind',
                                con=engine,
                                if_exists='append',
                                index=False,
                                dtype={'datetime': TIMESTAMP(timezone=True),
                                       'value': NUMERIC})

In [21]:
# this closes the connection to the database
engine.dispose()